VITE_RPC_URL=
SAFECAFE_RPC_URL=
SAFECAFE_LLM_API_BASE=
SAFECAFE_LLM_API_MODEL=
SAFECAFE_LLM_API_KEY=
FILEBASE_ACCESS_TOKEN=
FILEBASE_SECRET_KEY=
FILEBASE_BUCKET=safecafe
FILEBASE_RELEASE_KEY_PREFIX=releases
FILEBASE_IPFS_MAX_BYTES=1500000
